
exports.optionsSessionMySQL = {
    host: 'localhost',
    user: 'yourUser',
    password: 'yourPassword',
    database: 'databaseForSession',
    createDatabaseTable: true
};

exports.optionsMySQL {
    host     : 'localhost',
    user     : 'yourOtherUser',
    password : 'yourOtherPassword',
    database : 'yourDatabase'
};
