<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style_main.css">
  </head>
  <body>
    <div id="main_wrapper">
      <h1>Quizz Panic</h1>
      <nav>
	  <ul>
<!--	      <li><a href="/classPanic/admin/room">Administrer</a></li> -->
	      <li><a href="/classPanic/manage/room">Mes salles</a></li>
	      <li><a href="/classPanic/manage/set">Mes sets</a></li>
	      <li><a href="/classPanic/user">Mon compte</a></li>
	      <li><a href="/classPanic/">Redevenir étudiant</a></li>
	      <li><a id="leave" href="/classPanic/logout">Se d&eacute;connecter</a></li>
      </nav>
      <div class="wrapper" id="connect_wrapper">
