<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Connection</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
      <div id="login">
	  <h2>Se connecter</h2>
	  <form method="post" action="/classPanic">
	      <table>
		  <tr>
		      <td>Login :</td><td><input type="text" name="login"></td>
		  </tr>
		  <tr>
		      <td>Password</td><td><input type="password" name="password"></td>
		  </tr>
		  <tr>
		      <td></td><td><input type="submit"></td>
		  </tr>
	      </table>
	  </form>
      </div>
      <div id="createAccount">
	  <h2>Cr&eacute;er un compte</h2>
	  <form method="post">
	      <table>
		  <tr>
		      <td>Login :</td><td><input type="text" name="login"></td>
		  </tr>
		  <tr>
		      <td>Password</td><td><input type="password" name="password"></td>
		  </tr>
		  <tr>
		      <td></td><td><input type="submit" value="Cr&eacute;er compte"></td>
		  </tr>
	      </table>
	  </form>
      </div>
  </body>
</html>
