<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Connection</title>
    <link rel="stylesheet" href="/stylesheets/css_reset.css">
    <link rel="stylesheet" href="/stylesheets/login.css">
  </head>
  <body>
      <div id="login">
	<h2>Se connecter</h2>
	  <div class="msg">
	    <ul>
	      <% if(typeof msgs == 'object' && msgs) {
		 msgs.forEach(function (msg) { %>
	      <li> <%= msg %> </li>
	      <% });} %>
	    </ul>
	  </div>
	<a href= "<%= config.PATH %>/signin">Pas de compte ?</a>
	  <form method="post" action="<%= config.PATH %>">
	      <table>
		  <tr>
		      <td>Login :</td><td><input type="text" name="login"></td>
		  </tr>
		  <tr>
		      <td>Password</td><td><input type="password" name="password"></td>
		  </tr>
		  <tr>
		      <td></td><td><input type="submit"></td>
		  </tr>
	      </table>
	  </form>
      </div>
  </body>
</html>
