<!DOCTYPE html>
<html lang="en">
    <head>
	<meta charset="utf-8">
	<title>title</title>
	<link rel="stylesheet" href="/stylesheets/css_reset.css">
	<link rel="stylesheet" href="/stylesheets/play_student.css">
    </head>
    <body>
	<div id="question" onclick="chooseAnswer(-1)"></div>
	<div id="wrapperAnswer">
	</div> 
	<div id="leave"><a href="<%= config.PATH %>/room">Quitter la salle</a></div>

	<script src="/socket.io/socket.io.js"></script>
	
	<script>
	 var server = "<%= server %>";
	 var roomID = "<%= room.id %>";
	</script>
	<script src="/javascripts/student.js"></script>
    </body>
</html>
