<!DOCTYPE html>
<html lang="en">
    <head>
	<meta charset="utf-8">
	<title>Connection</title>
	<link rel="stylesheet" href="/stylesheets/css_reset.css">
	<link rel="icon" type="image/xcf" href="/images/favicon.png" />
	<link rel="stylesheet" href="/stylesheets/login.css">
    </head>
    <body>
	<div id="createAccount">
	  <h2>Cr&eacute;er un compte</h2>
	  <div class="msg">
	    <ul>
	      <% if(typeof msgs == 'object' && msgs) {
		 msgs.forEach(function (msg) { %>
	      <li> <%= msg %> </li>
	      <% });} %>
	    </ul>
	  </div>
	  <a href= "login/">Déjà un compte ?</a>
	  <form method="post" action="<%= config.PATH %>/user/create">
	    <table>
	      <tr>
		<td>Pseudo :</td><td><input  placeholder="Pseudo" type="text" name="pseudo"></td>
	      </tr>
	      <tr>
		<td>Password :</td><td><input  placeholder="Password" type="password" name="password"></td>
	      </tr>
	      <tr>
		<td>Nom complet :</td><td><input placeholder="Nom complet" type="text" name="nomComplet"></td>
	      </tr>
	      <tr>
		<td>Email :</td><td><input placeholder="Email" type="email" name="email"></td>
	      </tr>
	      <tr>
		<td>Numéro d'étudiant :</td><td><input placeholder="Numéro d'étudiant" type="text" name="n_etu"></td>
	      </tr>
	      <tr>
		  <td>Promotion :</td>
		  <td>
		      <select name="promotion" id="promotion">
			  <option value="2018">2018/2019</option>
		      </select>
		  </td>
	      </tr>
	      <tr>
		  <td>Institution :</td>
		  <td>
		      <select name="institution" id="institution">
			  <option value="IUT">IUT sénard</option>
			  <option value="FAC">FAC de Créteil</option>
		      </select>
		  </td>
	      </tr>
	      <tr>
		<td>Mot de passe pour être admin :</td><td><input type="password" name="adminPassword"></td>
	      </tr>
	      <tr>
		<td></td><td><input type="submit" value="Cr&eacute;er compte"></td>
	      </tr>
	    </table>
	  </form>
	</div>
    </body>
</html>
