.lili ul, .lili ol, .lili li {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

a {
    color:white;
}

.lili ol, .lili ul {
	list-style: none;
}

/*****************************************************************************/
/*            CSS du jeu pour les admins                                     */
/*****************************************************************************/

#answerContainer {
    position:fixed;
    left:0px;
    right:30%;
    top:0px;
    bottom:0px;
    overflow:auto;
}
#controlPanel {
    position:fixed;
    padding:20px;
    left:70%;
    right:0px;
    top:0px;
    bottom:0px;
    color:white;
    overflow:auto;
    background-color:rgba(0, 0, 0, 0.5);
}

#controlPanel > * {
    margin:30px;
    padding:10px;
    border-radius:5px;
    background-color:rgba(0,0,0,0.5);
}
    

#reveal, #nextQuestion, #chooseQuestion, #chooseQuestionNext {
    font-family: Impact, "Arial Black", Arial, Verdana, sans-serif;
}
#reveal, #nextQuestion{
    cursor:pointer;
}
#controlPanel li {
    padding:10px; !important
    border-bottom: 1px solid white; 
}

li.currentQuestion {
    border-left: 15px solid rgba(255,255,255,1);
}
li.inactiveQuestion {
    border-left: 15px solid rgba(255,255,255,0.5);
}

#chooseQFromSet li:not(:first-child) {
    cursor:pointer;
}

.juste {
    box-shadow: 0 0 8px 10px green;
}

.texted {
    color:red;
}
